
.tagsTable {
    padding: 0px;
    width: 80%;
    border-spacing: 0px;
    margin: auto;
    text-align:center;
}

    .tagsTable table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        line-height: 2em;
    }

    .tagsTable tr:nth-child(odd) {
        background-color: #aad4ff;
    }

    .tagsTable tr:nth-child(even) {
        background-color: #ffffff;
    }

    .tagsTable td {
        vertical-align: middle;
        border: 1px solid #000000;
        text-align: left;
        padding: 7px;
        font-size: 10px;
        font-family: Arial;
        font-weight: normal;
        color: #000000;
        font-size: 13px;
    }

    .tagsTable th {
        border: solid 1px;
    }

    .tagsTable a{
        text-decoration:none;
    }